/* ì´ˆê¸°í™” */
* {
    margin: 0;
    padding: 0;
    font: normal 12px 'ê³ ë”•';
}

ul, ol {list-style: none;}
a {text-decoration: none; color: #111;}

#admin-wrapper {
    width: 100%;
    height: auto;
}

/* í—¤ë”ì˜ì—­ */
header {
    width: 100%;
    height: 120px;
    background: url('../img/admin_bg_header.jpg') repeat-x;
}

header > div {
    width: 1400px;
    height: 100%;
    margin: 0 auto;
}
header > div > .logo {
    float: left;
    margin-top: 46px;
}
header > div > p {
    float: right;
    color: #fff;
    margin-top: 46px;
}
header > div > p > span {
    margin-right: 16px;
}
header > div > p > a {
    color: #fff;
}

/* ë©”ì¸ì˜ì—­ - ê³µí†µ */
main {
    width: 1400px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}
main > aside {
    float: left;
    width: 270px;
    height: auto;
    background: url('../img/admin_bg_aside.jpg') repeat-y;
    border-left: 1px solid #c0c0c0;
    box-sizing: border-box;
}

#gnb {
    width: 100%;
    height: auto;
}
#gnb > li {
    width: 100%;
    min-height: 66px;
    border-top: 1px solid #c0c0c0;
    box-sizing: border-box;
}
#gnb > li:last-child {border-bottom: 1px solid #c0c0c0;}

#gnb > li > a {
    display: block;
    width: 100%;
    height: 66px;
    font-size: 14px;
    font-weight: bold;
    color: #222;            
    line-height: 66px;
    text-indent: 10px;
}
#gnb > li > a > i {
    margin-right: 10px;
    font-size: 20px;
}

#gnb ol {
    display: none;
    width: 100%;
    height: auto;
}
#gnb ol > li {
    width: 100%;
    height: 32px;
}
#gnb ol > li > a {
    display: block;
    width: 100%;
    height: 100%;
    text-indent: 52px;
}        



main > section {
    float: right;
    width: 1130px;
    min-height: 600px;
    padding: 20px;
    box-sizing: border-box;
}

main > section > nav {
    position: relative;
    width: 100%;
    height: 46px;
    margin-bottom: 16px;
    border-bottom: 1px solid #c0c0c0;
    box-sizing: border-box;
}

main > section > nav > h3 {
    position: absolute;
    left: 0;
    bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}
main > section > nav > p {
    position: absolute;
    right: 0;
    bottom: 10px;
}
main > section > nav > p > strong {
    font-weight: bold;
}

main > section > article {
    overflow: hidden;
}

main > section > article section {
    margin-bottom: 16px;
}
main > section > article section > p {
    background: #eaeaea;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}

main h4 {
    font-size: 15px;
    font-weight: bold;
}

main table {
    width: 100%;
    border-collapse: collapse;
}
main table tr {}
main table tr > td {
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    padding: 10px;
    text-align: left;
}
main table tr > td:nth-child(1) {
    width: 160px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    background: #f6f6f6;
    padding: 10px;    
    text-align: left;
}

main table span {
    display: block;
}


/* í‘¸í„°ì˜ì—­ */
footer {
    width: 100%;
    height: 60px;
    background: #0d3a46;
}

footer > div {
    width: 1400px;
    height: 100%;
    margin: 0 auto;
}

footer > div > p {
    padding-top: 22px;
    color: #fff;
    font-weight: bold;
    box-sizing: border-box;
}

/* ì•„ì´ì½˜, ë²„íŠ¼ ê³µí†µ */
p.ico {
    width: 100%;
    height: 58px;
    margin-top: 20px;
    border-width: 1px;
    border-style: solid;
    padding-left: 50px;
    line-height: 58px;
    box-sizing: border-box;
}
p.info    {border-color: #8497BF; background: #A8B2C5 url('../img/admin_ico_info.png') no-repeat scroll 15px 16px;}
p.success {border-color: #C6D881; background: #E6EFC2 url('../img/admin_ico_success.png') no-repeat scroll 15px 16px;}
p.alert   {border-color: #FDD845; background: #FFF6BF url('../img/admin_ico_alert.png') no-repeat scroll 15px 16px;}
p.error   {border-color: #FBC7C9; background: #FBE3E4 url('../img/admin_ico_error.png') no-repeat scroll 15px 16px;}

label {
    display: inline-block;
    width: 100px;
    font-size: 12px;
    font-weight: bold;
    vertical-align: top;
}


input {
    width: 200px;
    padding: 6px;
    border: 1px solid #959595;
    font-size: 13px;            
    background-color: #fefefe;
    color: #333;
    vertical-align: middle;
    box-sizing: border-box;
}

input[type=checkbox] {
    width: auto;
    margin-right: 6px;
}

select {
    width: 150px;
    padding: 6px;
    border: 1px solid #959595;
    font-size: 13px;            
    background-color: #fefefe;
    color: #333;
    box-sizing: border-box;
}

textarea {
    padding: 5px;
    border: 1px solid #959595;
    font-size: 13px;            
    background-color: #eaeaea;
    color: #333;
    box-sizing: border-box;
    resize: none;            
}

/* span {
    vertical-align: bottom;
    color: #bc2e13;
} */

button {            
    border: 1px solid #959595;
    font-size: 12px;
    background: #a8b2c5;
    padding: 9px 15px;
    color: #fff;
    vertical-align: top;
}

button[type=submit] {
    float: right;
    height: 26px;
    margin-right: 246px;
    padding: 0 15px;
    background-color: #a8b2c5;            
    border: 1px solid #959595;
    font-size: 12px;            
    color: #fff;            
    vertical-align: middle;
}


/* admin-index */
#admin-index {}        

#admin-index > article {
    width: 100%;
    height: auto;
    overflow: hidden;
}
#admin-index > article > table {
    width: 100%;
    margin-top: 6px;
    margin-bottom: 16px;
    border-collapse: collapse;
    border-top: 2px solid #8798a3;
}

#admin-index > article > table tr {}
#admin-index > article > table tr:first-child {
    background: #fafafa !important;
}
#admin-index > article > table tr > td {
    width: 20%;
    border: 1px solid #e5e5e5;
    padding: 6px 6px 6px 12px;
    color: #111;
    text-align: center;
}
#admin-index > article > table tr > td > strong {
    display: block;
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
}
#admin-index > article > table tr > td > span {
    display: block;
    padding: 16px;
    font-size: 16px;
    font-weight: bold;
    color: #bc2e13;
}

#admin-index > article > table tr > td > p {
    padding: 6px;            
    overflow: hidden;            
}
#admin-index > article > table tr > td > p > span {
    font-size: 14px;
}
#admin-index > article > table tr > td > p > span:nth-child(1) {
    float: left;
}
#admin-index > article > table tr > td > p > span:nth-child(2) {
    float: right;
}

#admin-index > div {
    width: 100%;
    height: auto;
    overflow: hidden;
}
#admin-index > div > div {
    width: 49%;
    height: auto;
}

#admin-index > div > div:nth-child(1) {float: left;}        
#admin-index > div > div:nth-child(2) {float: right;}        

#admin-index > div > div > article {
    width: 100%;
    margin-top: 6px;
    margin-bottom: 16px;
    border: 1px solid #e5e5e5;
    border-top: 2px solid #8798a3;
    padding: 16px;
    box-sizing: border-box;            
}

#admin-index > div > div > article > p {            
    overflow: hidden;
}

#admin-index > div > div > article > p > span {
    line-height: 26px;
}

#admin-index > div > div > article > p > span:nth-child(1) {
    float: left;
    display: block;
    width: 400px;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    overflow: hidden;
}
#admin-index > div > div > article > p > span:nth-child(2) {
    float: right;
}



/* ìƒí’ˆë“±ë¡ : product-register */
#admin-product-register {}
#admin-product-register input[type=submit] {
    float: right;
    width: 100px;
}



/* ìƒí’ˆëª©ë¡ : product-list */
#admin-product-list {}
#admin-product-list > section > div  {
    margin-bottom: 10px;
}

#admin-product-list > section > table  {
    border-top: 2px solid #8798a3;
}
#admin-product-list > section > table  tr > th{
    padding: 10px 0;
    background: #f6f6f6;
}
#admin-product-list > section > table  tr > td {
    background: #fff;
    text-align: center;
    box-sizing: border-box;
}
#admin-product-list > section > table  tr > td:nth-child(1) {width: 20px;}
#admin-product-list > section > table  tr > td:nth-child(2) {width: 80px;}
#admin-product-list > section > table  tr > td:nth-child(3) {width: 80px;}
#admin-product-list > section > table  tr > td:nth-child(4) {width: auto; text-align: left;}
#admin-product-list > section > table  tr > td:nth-child(5) {width: 80px;}
#admin-product-list > section > table  tr > td:nth-child(6) {width: 80px;}
#admin-product-list > section > table  tr > td:nth-child(7) {width: 80px;}
#admin-product-list > section > table  tr > td:nth-child(8) {width: 80px;}
#admin-product-list > section > table  tr > td:nth-child(9) {width: 80px;}
#admin-product-list > section > table  tr > td:nth-child(10) {width: 80px;}
#admin-product-list > section > table  tr > td:nth-child(11) {width: 100px;}

#admin-product-list > section > table img.thumb {width: 60px;}
#admin-product-list > section > table img.thumb {width: 60px;}

#admin-product-list > section input[type=button] {
   /* float: left; */
    width: 100px;
   /* margin-top: 10px; */
}

#admin-product-list {}
#admin-product-list > section > form >  div  {
    margin-bottom: 10px;
}

#admin-product-list > section > form > table  {
    border-top: 2px solid #8798a3;
}
#admin-product-list > section > form > table  tr > th{
    padding: 10px 0;
    background: #f6f6f6;
}
#admin-product-list > section > form > table  tr > td {
    background: #fff;
    text-align: center;
    box-sizing: border-box;
}
#admin-product-list > section > form > table  tr > td:nth-child(1) {width: 20px;}
#admin-product-list > section > form > table  tr > td:nth-child(2) {width: 80px;}
#admin-product-list > section > form > table  tr > td:nth-child(3) {width: 80px;}
#admin-product-list > section > form > table  tr > td:nth-child(4) {width: auto; text-align: left;}
#admin-product-list > section > form > table  tr > td:nth-child(5) {width: 80px;}
#admin-product-list > section > form > table  tr > td:nth-child(6) {width: 80px;}
#admin-product-list > section > form > table  tr > td:nth-child(7) {width: 80px;}
#admin-product-list > section > form > table  tr > td:nth-child(8) {width: 80px;}
#admin-product-list > section > form > table  tr > td:nth-child(9) {width: 80px;}
#admin-product-list > section > form > table  tr > td:nth-child(10) {width: 80px;}
#admin-product-list > section > form > table  tr > td:nth-child(11) {width: 100px;}

#admin-product-list > section > form > table img.thumb {width: 60px;}
#admin-product-list > section > form > table img.thumb {width: 60px;}

#admin-product-list > section input[type=submit] {
   /* float: left; */
    width: 100px;
   /* margin-top: 10px; */
}

#admin-product-list .paging {
    width: 100%;
    padding: 30px 0;
    text-align: center;
}

#admin-product-list .paging > span > a {
    color: #777;
    font-family: "ë‹ì›€", Dotum, Tahoma, sans-serif;
    font-size: 11px;
    letter-spacing: -1px;
}
  
#admin-product-list .paging > span > a:hover {
    text-decoration: underline;
}
  
#admin-product-list .paging > .num > a {
    display: inline-block;
    min-width: 14px;
    margin: 0 2px;
    padding: 8px 9px;
    border: 1px solid #c4c4c4;
    background: url() 0 0 repeat-x;
    color: #000;
    font-family: Tahoma;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
}
#admin-product-list .paging > .num > a:hover {
    border: 1px solid #454c5f;
    text-decoration: none;
}
#admin-product-list .paging > .num > a.on {
    color: rgb(69, 173, 74);
    font-weight: bold;
}

/* ë°°ë„ˆê´€ë¦¬ config-banner */
#admin-config-banner {}
#admin-config-banner > article > section {
    overflow: hidden;
}
#admin-config-banner > section > div  {
    margin-bottom: 10px;
}

#admin-config-banner section > table  {
    border-top: 2px solid #8798a3;
}
#admin-config-banner section > table  tr > th{
    padding: 10px 0;
    background: #f6f6f6;
}
#admin-config-banner section > table  tr > td {
    background: #fff;
    text-align: center;
    box-sizing: border-box;
}
#admin-config-banner section > table  tr > td:nth-child(1) {width: 20px;}
#admin-config-banner section > table  tr > td:nth-child(2) {width: 80px;}
#admin-config-banner section > table  tr > td:nth-child(3) {width: 80px;}
#admin-config-banner section > table  tr > td:nth-child(4) {width: auto; text-align: left;}
#admin-config-banner section > table  tr > td:nth-child(5) {width: 240px;}
#admin-config-banner section > table  tr > td:nth-child(6) {width: 80px;}
#admin-config-banner section > table  tr > td:nth-child(7) {width: 80px;}
#admin-config-banner section > table  tr > td:nth-child(8) {width: 80px;}
#admin-config-banner section > table  tr > td:nth-child(9) {width: 80px;}
#admin-config-banner section > table  tr > td:nth-child(10) {width: 80px;}
#admin-config-banner section > table  tr > td:nth-child(11) {width: 100px;}

#admin-config-banner section > table img.thumb {width: 60px;}
#admin-config-banner section > table ul > li {line-height: 19px;}

#admin-config-banner section input[type=button] {
    width: 100px;
    margin-top: 10px;
}

#admin-config-banner .btnPositive {
    float: right;
    width: 100px;
    padding: 6px;
    margin-top: 10px;
    border: 1px solid #8798a3;
    font-size: 13px;
    background-color: #fefefe;
    color: #333;
    vertical-align: middle;
    box-sizing: border-box;
    cursor: pointer;
}

#admin-config-banner .btnNegative {
    float: left;
    width: 100px;
    padding: 6px;
    margin-top: 10px;
    border: 1px solid #ccc;
    font-size: 13px;
    background-color: #eaeaea;
    color: #333;
    vertical-align: middle;
    box-sizing: border-box;
    cursor: pointer;
}

   .ui-tabs .ui-tabs-panel {
    padding: 16px 0 0;
}

.ui-widget-content {
    border: none;
}

.ui-widget.ui-widget-content {
    border: none;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-radius: 0;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-radius: 0;
}      

.popup {                
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.popup.on {display: block;}

.popup input {
    width: 120px;
    padding: 4px;
    box-sizing: border-box;
    outline: none;
}

.popup input[type=file] {
    width: 240px;
}

.popup select {
    width: 120px;
    padding: 4px;
    box-sizing: border-box;
    outline: none;
}


.popup > div {
    display: table;        
    width: auto;
    height: auto;                
    margin: 0 auto;
    margin-top: 100px;
    background: #fff;

}

.popup > div > nav {
    width: 100%;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
    background: #0e3a47;
    overflow: hidden;
}
.popup > div > nav > h1 {
    float: left;                
    font-size: 18px;
    color: white;

}
.popup > div > nav > button {
    float: right;
    width: 30px;
    height: 30px;
    background-image: url('../../img/ico_sprites.png');
    background-color: transparent;
    background-position: 227px -25px;
    border: none;
    font-size: 0;
    color: white;
    cursor: pointer;
}
.popup > div > section {
    padding: 16px;
    box-sizing: border-box;
}

.popup > div > section > article {}
.popup > div > section > article > h3 {
    font-size: 15px;
    margin-bottom: 4px;
}

.popup > div > section > article table {
    width: 600px;
    border-top: 2px solid #444;
    border-bottom: 1px solid #aaa;
    border-collapse: collapse;
    margin-bottom: 10px;
}
.popup > div > section > article table label {
    margin-right: 10px;
}

.popup > div > section > article table input[type=text] {
    width: 100%;                
    padding: 4px;
    box-sizing: border-box;                
    border: 1px solid #f1f1f1;
    vertical-align: middle;
}

.popup > div > section > article table td:first-child {
    width: 120px;
    border-left: 0;
}

.popup > div > section > article table tr {
    border-bottom: 1px solid #f1f1f1;
}

.popup > div > section > article table tr > td {
    padding: 10px;
    border-left: 1px solid #f1f1f1;
    box-sizing: border-box;
}

.popup > div > section > article table tr > td:nth-child(2) {
    width: 360px;
}

.popup > div > section > article > form > div {
    padding: 16px 0;
    text-align: center;                
}

.popup > div > section > article table p {            
    margin-bottom: 6px;
}

.btnPositive {
    padding: 10px !important;
    background: #0e9d05;
    border: 1px solid #0b8404;
    box-sizing: border-box;
    color: white;
    margin: 0 auto;
    cursor: pointer;
}

/* --------------- 고객센터(cs) - 공지사항(notice) --------------- */
/* cs-notice-list */
#admin-cs-notice-list > section > div  {
    margin-bottom: 10px;
}

#admin-cs-notice-list > section > table  {
    border-top: 2px solid #8798a3;
}
#admin-cs-notice-list > section > table  tr > th{
    padding: 10px 0;
    background: #f6f6f6;
}
#admin-cs-notice-list > section > table  tr > td {
    background: #fff;
    text-align: center;
    box-sizing: border-box;
}
#admin-cs-notice-list table a:hover {
	border-bottom: 1px solid black;
}

#admin-cs-notice-list > section > table  tr > td:nth-child(1) {width: 20px;}
#admin-cs-notice-list > section > table  tr > td:nth-child(2) {width: 80px;}
#admin-cs-notice-list > section > table  tr > td:nth-child(3) {width: 120px;}
#admin-cs-notice-list > section > table  tr > td:nth-child(4) {width: auto; padding-left: 20px; text-align: left;}
#admin-cs-notice-list > section > table  tr > td:nth-child(5) {width: 120px;}
#admin-cs-notice-list > section > table  tr > td:nth-child(6) {width: 120px;}

#admin-cs-notice-list > section > table img.thumb {width: 60px;}

#admin-cs-notice-list > section > input[type=button]:nth-child(3) {
    width: 100px;
    height: 35px;
    border: none;
    margin-top: 30px;
    float: left;
    background-color: rgb(228, 228, 228);
}
#admin-cs-notice-list > section > input[type=button]:nth-child(5) {
    width: 100px;
    height: 35px;
    border: none;
    margin-top: 30px;
    float: right;
    background-color: rgb(69, 173, 74);
    color: #fff;
}
#admin-cs-notice-list > section > input[type=button]:nth-child(3):hover {
	cursor: pointer;
}
#admin-cs-notice-list > section > input[type=button]:nth-child(5):hover {
	cursor: pointer;
}

#admin-cs-notice-list .paging {
    width: 890px;
    display: inline-block;
    padding: 30px 0;
    text-align: center;
}

#admin-cs-notice-list .paging > span > a {
    color: #777;
    font-family: "ë‹ì›€", Dotum, Tahoma, sans-serif;
    font-size: 11px;
    letter-spacing: -1px;
}
  
#admin-cs-notice-list .paging > span > a:hover {
    text-decoration: underline;
}
  
#admin-cs-notice-list .paging > .num > a {
    display: inline-block;
    min-width: 14px;
    margin: 0 2px;
    padding: 8px 9px;
    border: 1px solid #c4c4c4;
    background: url() 0 0 repeat-x;
    color: #000;
    font-family: Tahoma;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
}
#admin-cs-notice-list .paging > .num > a:hover {
    border: 1px solid #454c5f;
    text-decoration: none;
}
#admin-cs-notice-list .paging > .num > a.on {
    color: rgb(69, 173, 74);
    font-weight: bold;
}

/* 보기 */
#admin-cs-notice-view > section > div  {
    margin-bottom: 10px;
}

#admin-cs-notice-view > section > table  {
    border-top: 2px solid #8798a3;
}
#admin-cs-notice-view > section th {
	width: 120px;
	font-weight: bold;
	padding: 10px 0;
    background: #f6f6f6;
    text-align: left;
    padding-left: 20px;
    box-sizing: border-box;
}
#admin-cs-notice-view > section > table > tbody > tr:nth-child(3) {
	height: 245px;
}

#admin-cs-notice-view > section > div {
	display: inline-block;
	position: relative;
	left: 810px;
}
#admin-cs-notice-view div > input[type=button] {
	width: 90px;
	height: 35px;
	border: none;
    margin-top: 15px;
    float: left;
    margin-right: 5px;
}
#admin-cs-notice-view div > input[type=button]:nth-child(1) { background-color: rgb(228, 228, 228); }
#admin-cs-notice-view div > input[type=button]:nth-child(2) { background-color: rgb(228, 228, 228); }
#admin-cs-notice-view div > input[type=button]:nth-child(3) { background-color: rgb(69, 173, 74); color: #fff; }
#admin-cs-notice-view div > input[type=button]:nth-child(1):hover { cursor: pointer; }
#admin-cs-notice-view div > input[type=button]:nth-child(2):hover { cursor: pointer; }
#admin-cs-notice-view div > input[type=button]:nth-child(3):hover { cursor: pointer; }

/* 작성 */
#admin-cs-notice-write > section > div  {
    margin-bottom: 10px;
}

#admin-cs-notice-write > section > table  {
    border-top: 2px solid #8798a3;
}
#admin-cs-notice-write > section th {
	width: 120px;
	font-weight: bold;
	padding: 10px 0;
    background: #f6f6f6;
    text-align: left;
    padding-left: 20px;
    box-sizing: border-box;
}
#admin-cs-notice-write > section > table > tbody > tr:nth-child(3) {
	height: 245px;
}
#admin-cs-notice-write table tr:nth-child(1) > td > select {
	border: 1px solid rgb(228, 228, 228);
}
#admin-cs-notice-write table tr:nth-child(2) > td > input[type=text] {
	width: 100%;
	border: 1px solid rgb(228, 228, 228);
	outline: 0;
}
#admin-cs-notice-write table tr:nth-child(3) > td > textarea {
	width: 100%;
	height: 245px;
	background-color: #fff;
	border: 1px solid rgb(228, 228, 228);
	outline: 0;
}

#admin-cs-notice-write > section > div {
	display: inline-block;
	position: relative;
	left: 430px;
}
#admin-cs-notice-write div > input[type=button] {
	width: 90px;
	height: 35px;
	border: none;
    margin-top: 25px;
    float: left;
    margin-right: 15px;
}
#admin-cs-notice-write div > input[type=button]:nth-child(1) { background-color: rgb(228, 228, 228); }
#admin-cs-notice-write div > input[type=button]:nth-child(2) { background-color: rgb(69, 173, 74); color: #fff; }
#admin-cs-notice-write div > input[type=button]:nth-child(1):hover { cursor: pointer; }
#admin-cs-notice-write div > input[type=button]:nth-child(2):hover { cursor: pointer; }

/* 수정 */
#admin-cs-notice-modify > section > div  {
    margin-bottom: 10px;
}

#admin-cs-notice-modify > section > table  {
    border-top: 2px solid #8798a3;
}
#admin-cs-notice-modify > section th {
	width: 120px;
	font-weight: bold;
	padding: 10px 0;
    background: #f6f6f6;
    text-align: left;
    padding-left: 20px;
    box-sizing: border-box;
}
#admin-cs-notice-modify > section > table > tbody > tr:nth-child(3) {
	height: 245px;
}
#admin-cs-notice-modify table tr:nth-child(1) > td > select {
	border: 1px solid rgb(228, 228, 228);
}
#admin-cs-notice-modify table tr:nth-child(2) > td > input[type=text] {
	width: 100%;
	border: 1px solid rgb(228, 228, 228);
	outline: 0;
}
#admin-cs-notice-modify table tr:nth-child(3) > td > textarea {
	width: 100%;
	height: 245px;
	background-color: #fff;
	border: 1px solid rgb(228, 228, 228);
	outline: 0;
}

#admin-cs-notice-modify > section > div {
	display: inline-block;
	position: relative;
	left: 430px;
}
#admin-cs-notice-modify div > input[type=button] {
	width: 90px;
	height: 35px;
	border: none;
    margin-top: 25px;
    float: left;
    margin-right: 15px;
}
#admin-cs-notice-modify div > input[type=button]:nth-child(1) { background-color: rgb(228, 228, 228); }
#admin-cs-notice-modify div > input[type=button]:nth-child(2) { background-color: rgb(69, 173, 74); color: #fff; }
#admin-cs-notice-modify div > input[type=button]:nth-child(1):hover { cursor: pointer; }
#admin-cs-notice-modify div > input[type=button]:nth-child(2):hover { cursor: pointer; }


/* --------------- 고객센터(cs) - 자주묻는질문(faq) --------------- */
#admin-cs-faq-list > section > div  {
    margin-bottom: 10px;
}

#admin-cs-faq-list > section > table  {
    border-top: 2px solid #8798a3;
}
#admin-cs-faq-list > section > table  tr > th{
    padding: 10px 0;
    background: #f6f6f6;
}
#admin-cs-faq-list > section > table  tr > td {
    background: #fff;
    text-align: center;
    box-sizing: border-box;
}
#admin-cs-faq-list table a:hover {
	border-bottom: 1px solid black;
}

#admin-cs-faq-list > section > table  tr > td:nth-child(1) {width: 20px;}
#admin-cs-faq-list > section > table  tr > td:nth-child(2) {width: 80px;}
#admin-cs-faq-list > section > table  tr > td:nth-child(3) {width: 80px;}
#admin-cs-faq-list > section > table  tr > td:nth-child(4) {width: 80px;}
#admin-cs-faq-list > section > table  tr > td:nth-child(5) {width: auto; text-align: left;}
#admin-cs-faq-list > section > table  tr > td:nth-child(6) {width: 80px;}
#admin-cs-faq-list > section > table  tr > td:nth-child(7) {width: 80px;}
#admin-cs-faq-list > section > table  tr > td:nth-child(8) {width: 80px;}

#admin-cs-faq-list > section > table img.thumb {width: 60px;}

#admin-cs-faq-list > section > input[type=button]:nth-child(3) {
    width: 100px;
    height: 35px;
    border: none;
    margin-top: 30px;
    float: left;
    background-color: rgb(228, 228, 228);
}
#admin-cs-faq-list > section > input[type=button]:nth-child(5) {
    width: 100px;
    height: 35px;
    border: none;
    margin-top: 30px;
    float: right;
    background-color: rgb(69, 173, 74);
    color: #fff;
}
#admin-cs-faq-list > section > input[type=button]:nth-child(3):hover {
	cursor: pointer;
}
#admin-cs-faq-list > section > input[type=button]:nth-child(5):hover {
	cursor: pointer;
}

#admin-cs-faq-list .paging {
    width: 890px;
    display: inline-block;
    padding: 30px 0;
    text-align: center;
}

#admin-cs-faq-list .paging > span > a {
    color: #777;
    font-family: "ë‹ì›€", Dotum, Tahoma, sans-serif;
    font-size: 11px;
    letter-spacing: -1px;
}
  
#admin-cs-faq-list .paging > span > a:hover {
    text-decoration: underline;
}
  
#admin-cs-faq-list .paging > .num > a {
    display: inline-block;
    min-width: 14px;
    margin: 0 2px;
    padding: 8px 9px;
    border: 1px solid #c4c4c4;
    background: url() 0 0 repeat-x;
    color: #000;
    font-family: Tahoma;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
}
#admin-cs-faq-list .paging > .num > a:hover {
    border: 1px solid #454c5f;
    text-decoration: none;
}
#admin-cs-faq-list .paging > .num > a.on {
    color: rgb(69, 173, 74);
    font-weight: bold;
}

/* 보기 */
#admin-cs-faq-view > section > div  {
    margin-bottom: 10px;
}

#admin-cs-faq-view > section > table  {
    border-top: 2px solid #8798a3;
}
#admin-cs-faq-view > section th {
	width: 120px;
	font-weight: bold;
	padding: 10px 0;
    background: #f6f6f6;
    text-align: left;
    padding-left: 20px;
    box-sizing: border-box;
}
#admin-cs-faq-view > section > table > tbody > tr:nth-child(3) {
	height: 245px;
}

#admin-cs-faq-view > section > div {
	display: inline-block;
	position: relative;
	left: 810px;
}
#admin-cs-faq-view div > input[type=button] {
	width: 90px;
	height: 35px;
	border: none;
    margin-top: 15px;
    float: left;
    margin-right: 5px;
}
#admin-cs-faq-view div > input[type=button]:nth-child(1) { background-color: rgb(228, 228, 228); }
#admin-cs-faq-view div > input[type=button]:nth-child(2) { background-color: rgb(228, 228, 228); }
#admin-cs-faq-view div > input[type=button]:nth-child(3) { background-color: rgb(69, 173, 74); color: #fff; }
#admin-cs-faq-view div > input[type=button]:nth-child(1):hover { cursor: pointer; }
#admin-cs-faq-view div > input[type=button]:nth-child(2):hover { cursor: pointer; }
#admin-cs-faq-view div > input[type=button]:nth-child(3):hover { cursor: pointer; }

/* 작성 */
#admin-cs-faq-write > section > div  {
    margin-bottom: 10px;
}

#admin-cs-faq-write > section > table  {
    border-top: 2px solid #8798a3;
}
#admin-cs-faq-write > section th {
	width: 120px;
	font-weight: bold;
	padding: 10px 0;
    background: #f6f6f6;
    text-align: left;
    padding-left: 20px;
    box-sizing: border-box;
}
#admin-cs-faq-write > section > table > tbody > tr:nth-child(3) {
	height: 245px;
}
#admin-cs-faq-write table tr:nth-child(1) > td > select {
	border: 1px solid rgb(228, 228, 228);
}
#admin-cs-faq-write table tr:nth-child(2) > td > input[type=text] {
	width: 100%;
	border: 1px solid rgb(228, 228, 228);
	outline: 0;
}
#admin-cs-faq-write table tr:nth-child(3) > td > textarea {
	width: 100%;
	height: 245px;
	background-color: #fff;
	border: 1px solid rgb(228, 228, 228);
	outline: 0;
}

#admin-cs-faq-write > section > div {
	display: inline-block;
	position: relative;
	left: 430px;
}
#admin-cs-faq-write div > input[type=button] {
	width: 90px;
	height: 35px;
	border: none;
    margin-top: 25px;
    float: left;
    margin-right: 15px;
}
#admin-cs-faq-write div > input[type=button]:nth-child(1) { background-color: rgb(228, 228, 228); }
#admin-cs-faq-write div > input[type=button]:nth-child(2) { background-color: rgb(69, 173, 74); color: #fff; }
#admin-cs-faq-write div > input[type=button]:nth-child(1):hover { cursor: pointer; }
#admin-cs-faq-write div > input[type=button]:nth-child(2):hover { cursor: pointer; }

/* 수정 */
#admin-cs-faq-modify > section > div  {
    margin-bottom: 10px;
}

#admin-cs-faq-modify > section > table  {
    border-top: 2px solid #8798a3;
}
#admin-cs-faq-modify > section th {
	width: 120px;
	font-weight: bold;
	padding: 10px 0;
    background: #f6f6f6;
    text-align: left;
    padding-left: 20px;
    box-sizing: border-box;
}
#admin-cs-faq-modify > section > table > tbody > tr:nth-child(3) {
	height: 245px;
}
#admin-cs-faq-modify table tr:nth-child(1) > td > select {
	border: 1px solid rgb(228, 228, 228);
}
#admin-cs-faq-modify table tr:nth-child(2) > td > input[type=text] {
	width: 100%;
	border: 1px solid rgb(228, 228, 228);
	outline: 0;
}
#admin-cs-faq-modify table tr:nth-child(3) > td > textarea {
	width: 100%;
	height: 245px;
	background-color: #fff;
	border: 1px solid rgb(228, 228, 228);
	outline: 0;
}

#admin-cs-faq-modify > section > div {
	display: inline-block;
	position: relative;
	left: 430px;
}
#admin-cs-faq-modify div > input[type=button] {
	width: 90px;
	height: 35px;
	border: none;
    margin-top: 25px;
    float: left;
    margin-right: 15px;
}
#admin-cs-faq-modify div > input[type=button]:nth-child(1) { background-color: rgb(228, 228, 228); }
#admin-cs-faq-modify div > input[type=button]:nth-child(2) { background-color: rgb(69, 173, 74); color: #fff; }
#admin-cs-faq-modify div > input[type=button]:nth-child(1):hover { cursor: pointer; }
#admin-cs-faq-modify div > input[type=button]:nth-child(2):hover { cursor: pointer; }


/* --------------- 고객센터(cs) - 문의하기(qna) --------------- */
#admin-cs-qna-list > section > div  {
    margin-bottom: 10px;
}

#admin-cs-qna-list > section > table  {
    border-top: 2px solid #8798a3;
}
#admin-cs-qna-list > section > table  tr > th{
    padding: 10px 0;
    background: #f6f6f6;
}
#admin-cs-qna-list > section > table  tr > td {
    background: #fff;
    text-align: center;
    box-sizing: border-box;
}
#admin-cs-qna-list table a:hover {
	border-bottom: 1px solid black;
}
#admin-cs-qna-list > section > table tr { height: 53px; }
#admin-cs-qna-list > section > table > tbody > tr:nth-child(1) { height: 38px; }
#admin-cs-qna-list > section > table tr > td:nth-child(1) {width: 20px;}
#admin-cs-qna-list > section > table tr > td:nth-child(2) {width: 80px;}
#admin-cs-qna-list > section > table tr > td:nth-child(3) {width: 80px;}
#admin-cs-qna-list > section > table tr > td:nth-child(4) {width: 80px;}
#admin-cs-qna-list > section > table tr > td:nth-child(5) {width: auto; text-align: left;}
#admin-cs-qna-list > section > table tr > td:nth-child(6) {width: 80px;}
#admin-cs-qna-list > section > table tr > td:nth-child(7) {width: 80px;}
#admin-cs-qna-list > section > table tr > td:nth-child(8) {width: 80px;}

#admin-cs-qna-list > section > table img.thumb {width: 60px;}

#admin-cs-qna-list > section > input[type=button]:nth-child(3) {
    width: 100px;
    height: 35px;
    border: none;
    margin-top: 30px;
    float: left;
    background-color: rgb(228, 228, 228);
}
#admin-cs-qna-list > section > input[type=button]:nth-child(3):hover {
	cursor: pointer;
}

#admin-cs-qna-list .paging {
    width: 880px;
    display: inline-block;
    padding: 30px 0;
    text-align: center;
}

#admin-cs-qna-list .paging > span > a {
    color: #777;
    font-family: "ë‹ì›€", Dotum, Tahoma, sans-serif;
    font-size: 11px;
    letter-spacing: -1px;
}
  
#admin-cs-qna-list .paging > span > a:hover {
    text-decoration: underline;
}
  
#admin-cs-qna-list .paging > .num > a {
    display: inline-block;
    min-width: 14px;
    margin: 0 2px;
    padding: 8px 9px;
    border: 1px solid #c4c4c4;
    background: url() 0 0 repeat-x;
    color: #000;
    font-family: Tahoma;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
}
#admin-cs-qna-list .paging > .num > a:hover {
    border: 1px solid #454c5f;
    text-decoration: none;
}
#admin-cs-qna-list .paging > .num > a.on {
    color: rgb(69, 173, 74);
    font-weight: bold;
}

/* 보기 */
#admin-cs-qna-view > section > div  {
    margin-bottom: 10px;
}

#admin-cs-qna-view > section > table  {
    border-top: 2px solid #8798a3;
}
#admin-cs-qna-view > section th {
	width: 120px;
	font-weight: bold;
	padding: 10px 0;
    background: #f6f6f6;
    text-align: left;
    padding-left: 20px;
    box-sizing: border-box;
}
#admin-cs-qna-view > section > table > tbody > tr:nth-child(3) {
	height: 150px;
}
#admin-cs-qna-view > section > table > tbody > tr:nth-child(4) {
	height: 150px;
}

#admin-cs-qna-view > section > div {
	display: inline-block;
	position: relative;
	left: 810px;
}
#admin-cs-notice-view > section > table tr:nth-child(3) textarea {
	width: 100%;
	height: 245px;
	background-color: #fff;
	border: none;
	outline: 0;
}
#admin-cs-qna-view div > input[type=button] {
	width: 90px;
	height: 35px;
	border: none;
    margin-top: 15px;
    float: left;
    margin-right: 5px;
}
#admin-cs-qna-view div > input[type=button]:nth-child(1) { background-color: rgb(228, 228, 228); }
#admin-cs-qna-view div > input[type=button]:nth-child(2) { background-color: rgb(69, 173, 74); color: #fff; }
#admin-cs-qna-view div > input[type=button]:nth-child(3) { background-color: rgb(69, 173, 74); color: #fff; }
#admin-cs-qna-view div > input[type=button]:nth-child(1):hover { cursor: pointer; }
#admin-cs-qna-view div > input[type=button]:nth-child(2):hover { cursor: pointer; }
#admin-cs-qna-view div > input[type=button]:nth-child(3):hover { cursor: pointer; }

/* 답변하기 */
#admin-cs-qna-reply > section > div  {
    margin-bottom: 10px;
}

#admin-cs-qna-reply > section > table  {
    border-top: 2px solid #8798a3;
}
#admin-cs-qna-reply > section th {
	width: 120px;
	font-weight: bold;
	padding: 10px 0;
    background: #f6f6f6;
    text-align: left;
    padding-left: 20px;
    box-sizing: border-box;
}
#admin-cs-qna-reply > section > table > tbody > tr:nth-child(3) {
	height: 150px;
}
#admin-cs-qna-reply > section > table > tbody > tr:nth-child(4) textarea {
	width: 100%;
	height: 150px;
	background-color: #fff;
	border: 1px solid rgb(228, 228, 228);
	outline: 0;
}
#admin-cs-qna-list > section > table > tbody td.end {
	color: rgb(69, 173, 74);
}

#admin-cs-qna-reply > section > div {
	display: inline-block;
	position: relative;
	left: 810px;
}
#admin-cs-qna-reply div > input[type=button] {
	width: 90px;
	height: 35px;
	border: none;
    margin-top: 15px;
    float: left;
    margin-right: 5px;
}
#admin-cs-qna-reply div > input[type=button]:nth-child(1) { background-color: rgb(228, 228, 228); }
#admin-cs-qna-reply div > input[type=button]:nth-child(2) { background-color: rgb(69, 173, 74); color: #fff; }
#admin-cs-qna-reply div > input[type=button]:nth-child(3) { background-color: rgb(69, 173, 74); color: #fff; }
#admin-cs-qna-reply div > input[type=button]:nth-child(1):hover { cursor: pointer; }
#admin-cs-qna-reply div > input[type=button]:nth-child(2):hover { cursor: pointer; }
#admin-cs-qna-reply div > input[type=button]:nth-child(3):hover { cursor: pointer; }

/* 수정 */
#admin-cs-qna-modify > section > div  {
    margin-bottom: 10px;
}

#admin-cs-qna-modify > section > table  {
    border-top: 2px solid #8798a3;
}
#admin-cs-qna-modify > section th {
	width: 120px;
	font-weight: bold;
	padding: 10px 0;
    background: #f6f6f6;
    text-align: left;
    padding-left: 20px;
    box-sizing: border-box;
}
#admin-cs-qna-modify > section > table > tbody > tr:nth-child(3) {
	height: 245px;
}
#admin-cs-qna-modify table tr:nth-child(1) > td > select {
	border: 1px solid rgb(228, 228, 228);
}
#admin-cs-qna-modify > section > table > tbody > tr:nth-child(3) {
	height: 150px;
}
#admin-cs-qna-modify > section > table > tbody > tr:nth-child(4) textarea {
	width: 100%;
	height: 150px;
	background-color: #fff;
	border: 1px solid rgb(228, 228, 228);
	outline: 0;
}

#admin-cs-qna-modify > section > div {
	display: inline-block;
	position: relative;
	left: 430px;
}
#admin-cs-qna-modify div > input[type=button] {
	width: 90px;
	height: 35px;
	border: none;
    margin-top: 25px;
    float: left;
    margin-right: 15px;
}
#admin-cs-qna-modify div > input[type=button]:nth-child(1) { background-color: rgb(228, 228, 228); }
#admin-cs-qna-modify div > input[type=button]:nth-child(2) { background-color: rgb(69, 173, 74); color: #fff; }
#admin-cs-qna-modify div > input[type=button]:nth-child(1):hover { cursor: pointer; }
#admin-cs-qna-modify div > input[type=button]:nth-child(2):hover { cursor: pointer; }
